<div class="panel panel-default">
  <!--<div class="panel-heading">
    {{ element.name }}
    <button class="btn-xs btn btn-danger pull-right"
            type="button"
            data-toggle="tooltip"
            data-placement="top"
            title="Delete"
            (click)="onRemoveElement()">
      <i class="glyphicon glyphicon-trash"></i>
    </button>
  </div>-->
  <div class="panel-heading" #heading>
    {{ name }}
    <button class="btn-xs btn btn-danger pull-right"
            type="button"
            data-toggle="tooltip"
            data-placement="top"
            title="Delete"
            (click)="onRemoveElement()">
      <i class="glyphicon glyphicon-trash"></i>
    </button>
  </div>
  <div class="panel-body">
    <ng-content></ng-content>
  </div>
</div>
