<div class="container">
  <!-- Binding to Custom Events -->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)">
  </app-cockpit>
  <!-- also you can use an alias for Custom Events as per below -->
  <!--
    <app-cockpit
      (serverCreated)="onServerAdded($event)"
      (bCreated)="onBlueprintAdded($event)">
    </app-cockpit>
  -->
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button
              class="btn btn-primary"
              (click)="onChangeFirst()"
              [disabled]="serverElements.length===0">Change First Element</button>
      <!-- Binding to Custom Properties -->
      <app-server-element *ngFor="let serverElement of serverElements; let i = index"
        [element]="serverElement"
        [name]="serverElement.name"
        [removableIndex]="i"
        (elementDeleted)="onElementRemoved($event)">
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>    
      <!-- also you can use an alias for Custom Properties as per below -->
      <!--
        <app-server-element
          *ngFor="let serverElement of serverElements"
          [srvElement]="serverElement">
        </app-server-element>
      -->
    </div>
  </div>
</div>
